/*

html, body, ul, ol, li, form, fieldset, legend{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p { 
	margin: 0; 
}
		
p{
	margin-bottom:15px;
}
		
a{
	color:#0073BF;
	text-decoration:none;
}
		
*/